<template>
  <div class="shop" v-if="player">
    <a href="/" class="home">
      <img src="../assets/title.png" alt="Pocketworld" />
    </a>

    <h1>Avatar Shop</h1>
    <h4>
      You have
      <span :class="player.team">
        {{ player.currency ? player.currency : 0 }}</span
      >
      WIP
    </h4>

    <div class="item portrait" data-type="Current">
      <Avatar
        v-if="player"
        :avatar="player.avatar"
        :playerData="playerData"
        :playerID="player.id"
      />
    </div>

    <div class="item portrait" data-type="Preview">
      <Avatar
        v-if="player"
        :avatar="avatarPreview"
        :playerData="playerData"
        :playerID="player.id"
      />
    </div>

    <div class="container">
      <ShopItem
        v-for="(amount, key) in parts.head"
        :key="`head${key}`"
        :hasItem="getItem('head', key)"
        part="head"
        :loopKey="key"
        :currentWIP="player.currency"
        @previewItem="previewItem('head', key)"
        @setItem="setItem"
      />

      <ShopItem
        v-for="(amount, key) in parts.body"
        :key="`body${key}`"
        :hasItem="getItem('body', key)"
        part="body"
        :loopKey="key"
        :currentWIP="player.currency"
        @previewItem="previewItem('body', key)"
        @setItem="setItem"
      />

      <ShopItem
        v-for="(amount, key) in parts.mouth"
        :key="`mouth${key}`"
        :hasItem="getItem('mouth', key)"
        part="mouth"
        :loopKey="key"
        :currentWIP="player.currency"
        @previewItem="previewItem('mouth', key)"
        @setItem="setItem"
      />

      <ShopItem
        v-for="(amount, key) in parts.eyes"
        :key="`eyes${key}`"
        :hasItem="getItem('eyes', key)"
        part="eyes"
        :loopKey="key"
        :currentWIP="player.currency"
        @previewItem="previewItem('eyes', key)"
        @setItem="setItem"
      />

      <ShopItem
        v-for="(amount, key) in parts.hat"
        :key="`hat${key}`"
        :hasItem="getItem('hat', key)"
        part="hat"
        :loopKey="key"
        :currentWIP="player.currency"
        @previewItem="previewItem('hat', key)"
        @setItem="setItem"
      />
    </div>
  </div>
  <div class="noshop" v-else>
    <h1>Error</h1>
    <p>
      Try running the command again to get a proper URL, make sure there aren't
      any extra slashes (/) after the "shop/" part!
    </p>
  </div>
</template>

<script>
import SimpleCrypto from "simple-crypto-js";
import db from "../firebase";
import Avatar from "../components/Avatar.vue";
import ShopItem from "../components/ShopItem.vue";

export default {
  components: {
    Avatar,
    ShopItem
  },
  mounted() {
    const key = process.env.VUE_APP_PWSHOPKEY;
    this.crypto = new SimpleCrypto(key);
    this.user = this.crypto.decrypt(this.$route.params.id);
    // console.log(this.$route.params.id, this.user);
  },
  created() {
    this.$watch(
      "user",
      user => {
        if (user) this.$bindAsObject("player", db.ref(`players/${user}`));
      },
      { immediate: true }
    );
  },
  methods: {
    getPart(p) {
      switch (p) {
        case "head":
          return 0;
        case "hat":
          return 1;
        case "eyes":
          return 2;
        case "mouth":
          return 3;
        case "body":
          return 4;
      }
    },
    getItem(part, key) {
      let state = {
        has: false,
        preview: false,
        current: false
      };

      let pid = this.getPart(part);
      const hasPart =
        this.player.pwshop && this.player.pwshop.includes(`${pid}-${key}`);

      if (key === 0 || hasPart) state.has = true;
      if (this.currentAvatar[pid] === key) state.current = true;
      if (this.currentAvatarPreview[pid] === key) state.preview = true;

      return state;
    },
    previewItem(part, key) {
      let pid = this.getPart(part);

      let newAvatar = this.currentAvatarPreview.map((piece, i) => {
        if (i !== pid) {
          return piece < 10 ? `0${piece}` : piece;
        } else {
          return key < 10 ? `0${key}` : key;
        }
      });

      this.avatarPreview = newAvatar.join("");
    },
    setItem(use = false, part, key, price) {
      if (use) {
        try {
          const current = this.currentAvatar.map((p, i) => {
            if (this.getPart(part) === i) return key < 10 ? `0${key}` : key;
            return p < 10 ? `0${p}` : p;
          });

          this.$firebaseRefs.player.update({
            avatar: current.join("")
          });
        } catch (e) {
          // eslint-disable-next-line
          console.error(e);
        }
      } else {
        // Buy it
        if (this.player.currency >= price) {
          try {
            const hasItems = this.player.pwshop
              ? this.player.pwshop.slice(0)
              : [];
            hasItems.push(`${this.getPart(part)}-${key}`);

            this.$firebaseRefs.player.update({
              currency: this.player.currency - price,
              pwshop: hasItems
            });
          } catch (e) {
            // eslint-disable-next-line
            console.error(e);
          }
        }
      }
    },
    checkAvatar(preview = false) {
      const a = preview ? this.avatarPreview : this.player.avatar;
      return a
        ? [
            parseInt(a.substr(0, 2)),
            parseInt(a.substr(2, 2)),
            parseInt(a.substr(4, 2)),
            parseInt(a.substr(6, 2)),
            parseInt(a.substr(8, 2))
          ]
        : false;
    }
  },
  computed: {
    currentAvatar() {
      return this.checkAvatar() || ["00", "00", "00", "00", "00"];
    },
    currentAvatarPreview() {
      return this.checkAvatar(true);
    },
    playerData() {
      const p = {};
      p[this.player.id] = this.player;
      return p;
    }
  },
  data() {
    return {
      avatarPreview: "0000000000",
      crypto: null,
      user: null,
      player: null,
      parts: {
        head: 20,
        body: 5,
        mouth: 5,
        eyes: 7,
        hat: 8
      }
    };
  }
};
</script>

<style lang="scss" scoped>
$red: #ff4136;
$blue: #3498db;
$yellow: #ffdc00;
$green: #27af61;

.shop {
  max-height: 100vh;
  overflow: auto;
}

.container {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  margin: 0 auto;
  max-width: 90%;

  @media screen and (max-width: 1024px) {
    grid-template-columns: repeat(6, 1fr);
  }

  @media screen and (max-width: 600px) {
    grid-template-columns: repeat(4, 1fr);
  }

  @media screen and (max-width: 480px) {
    grid-template-columns: repeat(3, 1fr);
  }
}

h1,
h4 {
  color: white;

  span {
    font-size: 2em;
  }
}

h4 {
  margin-bottom: 20px;
}

.red {
  color: $red;
}
.blue {
  color: $blue;
}
.yellow {
  color: $yellow;
}
.green {
  color: $green;
}

.home {
  position: fixed;
  top: 10px;
  left: 20px;
  img {
    width: 200px;
  }
}

.noshop {
  align-items: center;
  color: white;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;

  p {
    max-width: 300px;
  }
}

.item {
  background: url(../assets/portrait_block.png) no-repeat;
  background-size: 100% 100%;
  padding: 10px;
  position: relative;

  &.portrait {
    display: inline-block;
    height: 200px;
    margin-bottom: 20px;
    width: 200px;
  }

  &.portrait:before {
    color: white;
    content: attr(data-type);
    font-weight: bold;
    line-height: 32px;
    position: absolute;
    top: 5px;
    left: 0;
    text-align: center;
    width: 100%;
  }

  &.portrait .avatar {
    background: rgba(0, 0, 0, 0.5);
    height: 84%;
    margin-top: 13%;
    position: relative;
    width: 100%;

    &:after {
      background: black;
      content: "";
      display: block;
      height: 2px;
      position: absolute;
      bottom: 0;
      width: 100%;
      z-index: 1;
    }
  }
}

.svg {
  max-width: 100%;
}
</style>
