<template>
  <div id="map">
    <h1>
      <img src="../assets/title.png" alt="Pocketworld" />
    </h1>

    <div class="version-warning" v-if="version < versionLive.version">
      <img src="../assets/masta.png" alt="Teehee" />
      <h2>
        The timeline has changed.
        <small>i.e. Masta pushed a map altering update.</small>
      </h2>
      <p>Please <strong>hard</strong> refresh or else.</p>
    </div>

    <h3 class="tdata" v-if="lastHover">
      {{ lastHover.label }} (#{{ lastHover[".key"] }}) | Owned by
      <span :class="lastHover.faction">{{ tFac(lastHover.faction) }}</span> has
      <strong>{{ lastHover.defense }}</strong> defense
    </h3>

    <h6>v{{ version }}</h6>

    <LogSidebar
      :wlog="wlog"
      :wlogPush="wlogPush"
      :tColor="tColor"
      :tFac="tFac"
      :animDelay="animDelay"
      :playerData="playerData"
      :env="env"
      :loopLogs="loopLogs"
      :noAnim="noAnim"
      :lastMatch="lastMatch"
      @pauseReplay="setPause"
      @restartReplay="restartReplay"
    />

    <div class="sugar-bar">
      <FactionBars
        faction="blue"
        :sugar="sugarPoints.B"
        :f0="sugarPoints.BC"
        :f1="sugarPoints.BR"
        :f2="sugarPoints.BG"
        :f3="sugarPoints.BY"
      />
      <FactionBars
        faction="red"
        :sugar="sugarPoints.R"
        :f0="sugarPoints.RC"
        :f1="sugarPoints.RB"
        :f2="sugarPoints.RG"
        :f3="sugarPoints.RY"
      />
      <FactionBars
        faction="green"
        :sugar="sugarPoints.G"
        :f0="sugarPoints.GC"
        :f1="sugarPoints.GR"
        :f2="sugarPoints.GB"
        :f3="sugarPoints.GY"
      />
      <FactionBars
        faction="yellow"
        :sugar="sugarPoints.Y"
        :f0="sugarPoints.YC"
        :f1="sugarPoints.YR"
        :f2="sugarPoints.YB"
        :f3="sugarPoints.YG"
      />
      <FactionBars faction="chip" :sugar="sugarPoints.C" />
    </div>

    <section class="map-block">
      <svg viewBox="0 0 4121 3163" class="svg-map">
        <Region
          v-for="t in cachedWorld"
          :key="t['.key']"
          :territory="t"
          :hoverdata="hoverData"
          :selected="selectRegion && selectRegion['.key'] === t['.key']"
          :danger="dangerRegions.includes(t['.key'])"
          :rallyPoints="rallyPoints"
          :liveWorld="world"
          :lastMatch="lastMatch"
          :showNumbers="regionNumbers"
          @reghover="regionHover(t)"
          @regclick="regionClick(t)"
          @clearhover="clearHover()"
          @togglenum="showRegions()"
        />
      </svg>
    </section>

    <ManualForm
      @subForm="submitForm"
      :wlog="wlog"
      :rallies="this.world"
      v-if="env === 'development'"
    />

    <div class="history" v-if="selectRegion" @click="selectRegion = null">
      <h2>
        {{ selectRegion.label }}
        <small>(#{{ selectRegion[".key"] }})</small> History
      </h2>
      <ul>
        <li v-for="log in regHistory" :key="log.id">
          <span v-if="log.w" :class="tColor(log.wf)">{{ tFac(log.w) }}</span>
          {{ log.verb }}
          <span v-if="log.l" :class="tColor(log.l)">{{ tFac(log.l) }}</span> ({{
            log.s
          }})
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
import db from "../firebase";
import Region from "../components/Region.vue";
import ManualForm from "../components/ManualForm.vue";
import LogSidebar from "../components/LogSidebar.vue";
import FactionBars from "../components/FactionBars.vue";
import worldData from "../world.json";
import pmap from "../map";

export default {
  name: "PocketWorld",
  components: {
    Region,
    ManualForm,
    LogSidebar,
    FactionBars
  },
  async mounted() {
    try {
      // Get the latest state of the map from the Firebase
      const resp = await fetch(
        "https://pocketbot-40684.firebaseio.com/worldlog.json"
      );

      const resp2 = await fetch(
        "https://pocketbot-40684.firebaseio.com/worldlive.json"
      );

      const json = await resp.json();
      const json2 = await resp2.json();

      if (json && json2) {
        // Send this stuff into a worker
        const result = await this.$worker.run(
          (matches, world) => {
            const finalList = {
              matchCount: 0,
              map: world.map,
              sugar: world.sugar
            };

            // Iterate all matches for player data
            Object.values(matches).forEach(m => {
              // Process player data (by ID)
              if (!finalList.players) finalList.players = {};

              if (m.w) {
                // Winners
                if (!finalList.players[m.wID])
                  finalList.players[m.wID] = {
                    name: m.wUser,
                    id: m.wID,
                    wins: 0,
                    losses: 0
                  };

                if (!m.strike) finalList.players[m.wID].wins += 1;
              }

              if (m.l) {
                // Losers
                if (!finalList.players[m.lID])
                  finalList.players[m.lID] = {
                    name: m.lUser,
                    id: m.lID,
                    wins: 0,
                    losses: 0
                  };

                finalList.players[m.lID].losses += 1;
              }

              finalList.matchCount += 1;
            });

            return finalList;
          },
          [json, json2]
        );

        // Update some stuff
        this.allPlayers = result.players;

        // TODO - Disable for testing
        this.cachedWorld.forEach(r => {
          // Update every region's faction/def
          r.defense = result.map[r[".key"]].defense;
          r.faction = result.map[r[".key"]].faction;

          if (r.faction === "famine") this.borderRegions.push(r[".key"]);
        });
        const matches = Object.keys(json);
        this.lastMatch = matches[matches.length - 1];
        this.sugarPoints = result.sugar;
        // ---

        this.matchCount = result.matchCount;
        this.worldHistory = [];

        for (let m in json) {
          let match = json[m];
          match.fid = m;
          this.worldHistory.push(match);
        }

        this.startLoop += 1;

        console.log("Players, live map, and sugar counts set from JSON.");
      } else if (!json) {
        console.log("No matches exist. Will wait for live matches.");
        this.startLoop += 1;
      }
    } catch (e) {
      console.error(e);
    }
  },
  firebase: {
    // Used to handle update notifications on the page
    versionLive: {
      source: db.ref("coc"),
      asObject: true
    },
    // Maintains the state of the world
    world: {
      source: db.ref("world"),
      asObject: true
    },
    // Holds the rolling "last 100 matches"
    wlog: {
      source: db.ref("worldlog").limitToLast(100),
      readyCallback() {
        console.log("Match data base is loaded.");
        this.startLoop += 1;
      }
    },
    // Holds all players on a team
    players: {
      source: db
        .ref("players")
        .orderByChild("team")
        .startAt("a")
    }
  },
  methods: {
    /**
     * Pipes console messages
     *
     * @param {String}
     */
    debug(msg) {
      if (this.env === "development") console.log(msg);
    },
    /**
     * Toggles the pause variable which stops the looping of matches on replay
     */
    setPause(x) {
      this.pauseReplay = x;
    },
    /**
     * Resets everything to allow the page to play back all matches from the start.
     */
    restartReplay() {
      this.debug("Resetting everything.");

      // World
      this.cachedWorld.forEach((reg, i) => {
        // Update every region's faction/def
        this.cachedWorld[i].defense = [21, 4, 2, 23].includes(i) ? 20 : 2;
        if (i === 14) this.cachedWorld[i].defense = 5;
        this.cachedWorld[i].faction = "chip";

        const r = [15, 17, 21, 22, 25];
        const b = [4, 6, 0, 1, 31];
        const y = [11, 2, 5, 26, 27];
        const g = [16, 23, 20, 18, 19];
        const edge = [32, 33, 34];

        if (b.includes(i)) this.cachedWorld[i].faction = "blue";
        if (r.includes(i)) this.cachedWorld[i].faction = "red";
        if (y.includes(i)) this.cachedWorld[i].faction = "yellow";
        if (g.includes(i)) this.cachedWorld[i].faction = "green";
        if (edge.includes(i)) this.cachedWorld[i].faction = "famine";
      });

      // Sugar and Meat
      for (let x in this.sugarPoints) {
        this.sugarPoints[x] = 0;
      }

      // Empty log
      this.wlogPush = [];
      this.rallyPoints = {
        R: false,
        G: false,
        B: false,
        Y: false
      };
      this.lastMatch = true;
      this.fromStart = true;
      this.animDelay = 100;
    },
    /**
     * Used to update the favicon on the page.
     *
     * @param {String}
     */
    changeIcon(icon) {
      const doc = document.head || document.getElementsByTagName("head")[0];
      const link = document.createElement("link");
      const oldLink = document.getElementById("dynamic-favicon");

      link.id = "dynamic-favicon";
      link.rel = "shortcut icon";
      link.href =
        icon !== "masta"
          ? require(`../assets/${icon}pog.png`)
          : require(`../assets/masta.png`);

      if (oldLink) doc.removeChild(oldLink);
      doc.appendChild(link);
    },
    /**
     * Function to call when hovering a region. Mainly gives data to highlight neighbors.
     *
     * @param {Number}
     */
    regionHover(t) {
      this.hoverData = t.neighbors ? t.neighbors : [];
      this.lastHover = t;
    },
    /**
     * Resets hover state.
     */
    clearHover() {
      this.hoverData = [];
      this.lastHover = null;
    },
    /**
     * Function to call when clicking a region.
     */
    regionClick(t) {
      this.selectRegion = t;
    },
    showRegions() {
      this.regionNumbers = !this.regionNumbers;
    },
    submitForm(data) {
      try {
        this.$firebaseRefs.wlog.push(data);
      } catch (e) {
        console.error(e);
      }
    },
    loopLogs(t = this.animDelay) {
      if (this.pauseReplay) return false;

      if (t > 0) {
        window.requestTimeout(() => {
          this.updateMap();
        }, t);
      } else {
        this.updateMap();
      }

      return true;
    },
    noAnim() {
      this.animDelay = 0;
      if (this.pauseReplay) {
        this.pauseReplay = false;
        this.loopLogs();
      }
    },
    tColor(c) {
      return pmap.tColor(c);
    },
    tFac(c) {
      switch (c) {
        case "red":
        case "R":
          return "Commonfolk";
        case "blue":
        case "B":
          return "Longcoats";
        case "green":
        case "G":
          return "KSR";
        case "yellow":
        case "Y":
          return "Civilized";
        case "C":
        case "chip":
          return "Chip";
        default:
          return c;
      }
    },
    fortify(winner, wL) {
      return pmap.fortify({
        winner,
        wL,
        cachedWorld: this.cachedWorld,
        wlogPush: this.wlogPush,
        formatLog: this.formatLog,
        wlog: this.wlog,
        wlogLast: this.wlogLast
      });
    },
    attack(wL) {
      return pmap.attack({
        wL,
        that: this
      });
    },
    /**
     * Makes sure folks can't earn more sugar than what they are allowed to stockpile.
     * Max is generally based off territory count + live capital
     *
     * @param {String} team - The faction's initial
     */
    sugarReduction(team) {
      // Unique Chip reduction, max at 3 strikes
      if (team === "C") {
        if (this.sugarPoints[team] > 300) {
          this.sugarPoints[team] = 300;
          return true;
        }

        return false;
      }

      // Get team's territory
      let t;

      if (team === "R") t = this.redRegions;
      if (team === "B") t = this.blueRegions;
      if (team === "G") t = this.greenRegions;
      if (team === "Y") t = this.yellowRegions;

      // Calculate normal land/capital storage
      const tCount = t.length * 20;
      const isCapital = region => region.isCapital;
      const max = t.some(isCapital) ? tCount + 180 : tCount;

      if (this.sugarPoints[team] > max) {
        this.sugarPoints[team] = max;
        return true;
      }

      return false;
    },
    /**
     * Structures the necessary object to print into the history log
     *
     * @param {Object} log - the match data
     * @param {String} verb - the primary word used for the scenario
     * @param {Object} region - The region object where the event took place
     * @param {Boolean} isChip - whether the event involves Chip
     */
    formatLog(log, verb, region, isChip = false) {
      const winner = log.wUser ? log.wUser : log.w;
      let finalVerb = verb;

      const logObj = {
        wf: log.w && log.w !== "-" ? log.w : false,
        id: this.wlogPush.length,
        uid: log.w && log.w !== "-" ? log.wID : log.lID,
        fid: log[".key"],
        stress: log.stress || false,
        strike: log.strike >= 0 ? log.strike : false
      };

      if (finalVerb.includes("grave")) {
        return Object.assign(logObj, {
          w: log.w && log.w !== "-" ? winner : log.l,
          l: false,
          region: false,
          verb: finalVerb
        });
      }

      if (finalVerb.includes("infected")) {
        return Object.assign(logObj, {
          w: "MastaPlague",
          region: false,
          verb: finalVerb
        });
      }

      if (this.lastMatch && !this.fromStart) {
        if (verb.includes("stock") || verb.includes("wasted")) {
          finalVerb = log.w && log.l ? "defeated" : "won";
        } else if (verb.includes("weakened") || verb.includes("scared")) {
          finalVerb = "beat";
        } else if (verb.includes("hunger")) {
          finalVerb = "loss by";
        }
      }

      const chipLand = region.faction === "chip" || isChip ? "C" : false;
      return Object.assign(logObj, {
        w: log.w && log.w !== "-" ? winner : false,
        l: log.l !== "-" ? chipLand || log.l : false,
        region:
          region[".key"] >= 0 && this.wlogPush.length > 100
            ? `${region[".key"]}`
            : false,
        verb: finalVerb
      });
    },
    setPower(p) {
      this.power = p;
    },
    setBorder(b) {
      this.borderRegions = b;
    },
    setCreated() {
      this.createdWatch = true;
    },
    /**
     * Cycles through the different factions to find who the leader is, then updates the map
     */
    updateMap() {
      // Update favicon
      let lead = "red";
      if (this.blueRegions.length > this.redRegions.length) lead = "blue";
      if (this.greenRegions.length > this[`${lead}Regions`].length)
        lead = "green";
      if (this.yellowRegions.length > this[`${lead}Regions`].length)
        lead = "yellow";
      if (this.chipRegions.length > this[`${lead}Regions`].length)
        lead = "chip";
      if (
        lead === "red" &&
        (this.redRegions.length === this.blueRegions.length ||
          this.redRegions.length === this.yellowRegions.length ||
          this.redRegions.length === this.greenRegions.length ||
          this.redRegions.length === this.chipRegions.length)
      )
        lead = "masta";

      this.changeIcon(lead);
      return pmap.updateMap(this);
    },
    fillBars(data, stamp) {
      pmap.fillBars(data, stamp, this);
    },
    // Regions Methods
    // ========================
    /**
     * Sets a region's properties
     *
     * @param {Number} n - The region number ID
     * @param {Number} d - The defense to set to
     * @param {String} f - The faction to set to
     */
    setRegion(n, d, f) {
      if (f) this.cachedWorld[n].faction = f;
      if (d) this.cachedWorld[n].defense = d;
      return true;
    },
    getRegion(who) {
      switch (who) {
        case "red":
        case "R":
          return this.redRegions;
        case "blue":
        case "B":
          return this.blueRegions;
        case "green":
        case "G":
          return this.greenRegions;
        case "yellow":
        case "Y":
          return this.yellowRegions;
        case "chip":
        case "C":
          return this.chipRegions;
        default:
          return null;
      }
    },
    sortRegions(c) {
      const abbr = c.charAt(0).toUpperCase();
      const rally = c === "chip" ? false : this.rallyPoints[abbr];

      return this.cachedWorld
        .filter(r => r.faction === c && r.defense > 0)
        .sort((a, b) => {
          if (this.world && rally !== false) {
            if (a[".key"] === rally) return -2;
            if (b[".key"] === rally) return 2;
          }

          if (a.isCapital) return 2;
          if (b.isCapital) return -2;

          return a[".key"] - b[".key"];
        });
    }
  },
  data() {
    return {
      env: process.env.NODE_ENV,
      hoverData: [],
      selectRegion: null,
      lastHover: null,
      wlog: [],
      wlogPush: [],
      world: null,
      worldlive: null,
      worldHistory: null,
      cachedWorld: worldData,
      animDelay: 100,
      power: 0,
      createdWatch: false,
      borderRegions: [],
      regionNumbers: false,
      rallyPoints: {
        R: false,
        G: false,
        B: false,
        Y: false
      },
      /*eslint-disable */
      sugarPoints: {
        R: 0,
        RG: 0,
        RB: 0,
        RY: 0,
        RC: 0,
        G: 0,
        GR: 0,
        GB: 0,
        GY: 0,
        GC: 0,
        B: 0,
        BR: 0,
        BG: 0,
        BY: 0,
        BC: 0,
        Y: 0,
        YR: 0,
        YG: 0,
        YB: 0,
        YC: 0,
        C: 0
      },
      /* eslint-enable */
      version: 21,
      matchCount: null,
      allPlayers: null,
      // Sugar table for winners
      wSugar: {
        L: { L: 5, M: 10, H: 50 },
        M: { L: 5, M: 50, H: 75 },
        H: { L: 5, M: 45, H: 100 }
      },
      // Sugar table for losers
      lSugar: {
        L: { L: 1, M: 3, H: 5 },
        M: { L: 2, M: 4, H: 6 },
        H: { L: 3, M: 5, H: 7 }
      },
      startLoop: 0,
      lastMatch: true, // TODO - Override to false for testing
      pauseReplay: false,
      fromStart: false,
      chip: "129352711232684032",
      notHeroku: true
      //classS: [],
    };
  },
  watch: {
    startLoop: function() {
      // This will start our loop once everything is ready
      if (this.startLoop === 2) {
        console.log("Watching live.");
        this.loopLogs();
        this.startLoop = -1;
      }
    },
    wlogLast: function() {
      console.log("New match detected.");
      if (this.createdWatch) this.loopLogs();
    }
  },
  computed: {
    wlogLast() {
      return this.wlog[this.wlog.length - 1];
    },
    playerData() {
      const p = {};

      this.players.forEach(player => {
        let finalName = null;

        if (this.allPlayers && this.allPlayers[player.id])
          finalName = this.allPlayers[player.id].name;
        if (player.challonge) finalName = player.challonge;
        if (player.nick) finalName = player.nick;

        p[player.id] = {
          team: player.team,
          leader: !!player.factionleader,
          avatar: player.avatar,
          rank: player.rank ? player.rank : 0,
          id: player.id,
          wins:
            this.allPlayers && this.allPlayers[player.id]
              ? this.allPlayers[player.id].wins
              : "0",
          losses:
            this.allPlayers && this.allPlayers[player.id]
              ? this.allPlayers[player.id].losses
              : "0",
          name: finalName,
          stress: player.stress ? player.stress.stress : "high"
        };
      });

      return p;
    },
    redRegions() {
      return this.sortRegions("red");
    },
    blueRegions() {
      return this.sortRegions("blue");
    },
    greenRegions() {
      return this.sortRegions("green");
    },
    yellowRegions() {
      return this.sortRegions("yellow");
    },
    chipRegions() {
      return this.sortRegions("chip");
    },
    /**
     *
     */
    dangerRegions() {
      const dangerRegions = [];
      const allfacts = ["red", "blue", "green", "yellow", "chip"];

      allfacts.forEach(team => {
        const regs = this[`${team}Regions`].map(r => r[".key"]); // IDs of team's regions
        const notregs = allfacts.slice(); // Copy array
        notregs.splice(allfacts.indexOf(team), 1); // without the team we're checking

        // First check if enemy has a rally on us
        let enemyRally;
        if (team === "chip") enemyRally = ["R", "B", "G", "Y"];
        if (team === "red") enemyRally = ["B", "G", "Y"];
        if (team === "blue") enemyRally = ["R", "G", "Y"];
        if (team === "green") enemyRally = ["R", "B", "Y"];
        if (team === "yellow") enemyRally = ["R", "B", "G"];

        // For each enemy, check their rally position
        enemyRally.forEach(t => {
          if (
            this.world[`${t}Rally`] && // If this enemy rally exists
            this.cachedWorld[this.world[`${t}Rally`]] && // and so does the region
            regs.includes(this.world[`${t}Rally`]) // and enemy rally is on MY region
          ) {
            // and that region neighbors THAT enemy
            const ralliedReg = this.cachedWorld[this.world[`${t}Rally`]];
            const nextToEnemy = ralliedReg.neighbors.some(
              r => this.cachedWorld[r].faction === this.tColor(t)
            );

            if (nextToEnemy) {
              dangerRegions.push(this.world[`${t}Rally`]);
              // NO need to check more from that region
              notregs.splice(notregs.indexOf(this.tColor(t)), 1);
            }
          }
        });

        // No valid rally exists, just use normal mode.
        if (notregs.length > 0) {
          // i.e. loop through all our regions
          for (let x = 0; x < regs.length; x += 1) {
            let foundNeighbor = false;

            // Now loop through each region's neighbors
            this[`${team}Regions`][x].neighbors.forEach(n => {
              // If a region's neighbor belongs to a faction not found already
              if (notregs.includes(this.cachedWorld[n].faction)) {
                dangerRegions.push(this[`${team}Regions`][x][".key"]);
                notregs.splice(notregs.indexOf(this.cachedWorld[n].faction), 1);
                foundNeighbor = notregs.length === 0;
              }
            });

            if (foundNeighbor) break;
          }
        }
      });

      return dangerRegions;
    },
    regHistory() {
      if (!this.selectRegion) return null;

      return this.wlogPush
        .filter(
          e =>
            e.region &&
            parseInt(e.region.replace("#", ""), 10) ===
              this.selectRegion[".key"]
        )
        .reverse();
    }
  }
};
</script>

<style lang="scss">
$red: #ff4136;
$blue: #3498db;
$yellow: #ffdc00;
$green: #27af61;
$purple: #444;

@keyframes shake {
  0%,
  20%,
  40%,
  60%,
  80%,
  100% {
    transform: translateY(2px);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-2px);
  }
}

#map {
  height: 100%;
  margin: 0 auto;
  padding-left: 300px;
  position: relative;
  width: 100%;

  > h1,
  > h3,
  > h6 {
    position: fixed;
    bottom: 0;
    right: 10px;
  }

  > h1 {
    left: 10px;
    right: auto;
  }

  > h3 {
    color: white;
    font-weight: normal;
    max-width: 300px;
    top: 80px;
    bottom: auto;
    right: auto;
    left: 320px;
    text-align: left;
    z-index: 1;
  }

  > h6 {
    bottom: 10px;
    color: white;
    opacity: 0.5;
    right: auto;
    left: 122px;
    text-align: left;
  }

  .map-block {
    background: url("../assets/map_block.png");
    background-size: 100% 100%;
    display: flex;
    justify-content: end;
    position: absolute;
    top: 0;
    right: 0;
    max-height: 100vh;
    max-width: calc(100% - 300px);
    padding: 30px 20px;
    width: 130vh;
  }

  .svg-map {
    display: block;
    width: 100%;
  }

  .sugar-bar {
    background: url("../assets/board2.png") no-repeat;
    background-size: 100% 100%;
    display: flex;
    height: 60px;
    line-height: 60px;
    padding: 0 20px;
    padding-left: 60px;
    position: absolute;
    top: 20px;
    left: 310px;
    width: 330px;
    z-index: 1;

    &:before {
      background: url("../assets/sugar.png") no-repeat;
      background-size: 100% 100%;
      content: "";
      height: 32px;
      position: absolute;
      top: 14px;
      left: 24px;
      width: 32px;
    }

    span {
      font-weight: 900;
      flex-grow: 1;
      text-align: center;
    }
  }

  .history {
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    color: white;
    cursor: pointer;
    height: 50vh;
    overflow: auto;
    padding: 20px;
    position: absolute;
    top: 25vh;
    left: 25%;
    text-align: left;
    width: 50%;

    ul {
      font-size: 0.8em;
      list-style: none;
      line-height: 150%;
      text-transform: uppercase;
    }

    &:after {
      content: "Click anywhere in this box to close.";
      display: block;
      opacity: 50%;
      position: absolute;
      top: 10px;
      right: 10px;
    }
  }

  .red {
    color: $red;
  }
  .blue {
    color: $blue;
  }
  .yellow {
    color: $yellow;
  }
  .green {
    color: $green;
  }
  .chip {
    color: $purple;
  }

  .invert {
    &.red,
    .red {
      background: $red !important;
      color: white !important;
    }
    &.blue,
    .blue {
      background: $blue !important;
      color: white !important;
    }
    &.yellow,
    .yellow {
      background: $yellow !important;
      color: white !important;
    }
    &.green,
    .green {
      background: $green !important;
      color: white !important;
    }
    &.chip,
    .chip {
      background: $purple !important;
      color: white !important;
    }
  }
}

.version-warning {
  align-items: center;
  background: rgba(0, 0, 0, 0.75);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 1;

  small {
    color: #ccc;
    display: block;
    font-size: 0.5em;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 720px) {
  #map {
    display: flex;
    height: 60vh;
    padding-left: 0;
    width: 100vw;

    h1 {
      bottom: 30px;
      position: absolute;
      top: auto;
      right: 10px;
      width: 50%;

      img {
        display: block;
        max-width: 100%;
      }
    }

    .menu {
      background-size: 100% 100%;
      height: 40vh;
      top: auto;
      left: 0;
      bottom: 30px;
      width: 100%;
      z-index: 1;

      .button-bar {
        height: 11%;
        padding: 0 35px;
        top: 2%;
        z-index: 1;

        button {
          height: 100%;
        }
      }

      .log-list,
      .players {
        height: 79%;
        font-size: 0.8em;
        position: absolute;
        top: auto;
        bottom: 5%;
        left: 7%;
        right: 0;
        width: 86%;
      }
    }

    .sugar-bar {
      top: -5px;
      left: 0;
      position: fixed;
      width: 100%;
    }

    .portrait {
      background: transparent;
      height: 60px;
      position: fixed;
      bottom: 292px;
      width: 70px;
    }

    .map-block {
      height: 60vh;
      max-width: 100%;
      width: 100%;
    }

    .history {
      background: rgba(0, 0, 0, 0.9);
      font-size: 0.8em;
      left: 5vw;
      width: 90vw;

      &:after {
        content: "×";
      }
    }
  }
}
</style>
