<template>
  <div class="avatar" v-if="avatar">
    <div class="face" :data-avatar="avatar">
      <img
        :src="getImg('head')"
        class="head"
        :data-avatar="avatar"
        :data-faction="getTeam()"
      />
      <img :src="getImg('mouth')" class="mouth" />
      <img :src="getImg('eyes')" class="eyes" :data-id="avatar.substr(4, 2)" />

      <img
        :src="getImg('hat')"
        class="hat"
        :data-id="avatar.substr(2, 2)"
        :data-faction="getTeam()"
      />
    </div>

    <template>
      <img
        :src="getImg('body')"
        class="body"
        :data-avatar="avatar"
        :data-faction="getTeam()"
      />
      <img
        :src="getImg('tail')"
        class="tail"
        :data-avatar="avatar"
        :data-faction="getTeam()"
      />
    </template>
  </div>
</template>

<script>
export default {
  props: {
    wlogPush: Array,
    avatar: {
      type: String
    },
    playerData: Object,
    playerID: {
      type: [String, Boolean],
      default: false
    }
  },
  methods: {
    getImg(part) {
      // Load all SVG
      const images = require.context("../assets/player/", false, /\.svg$/);

      let n = "00";
      const avid = this.avatar;

      if (avid) {
        if (part === "head" || part === "tail") n = avid.substr(0, 2); // Animal
        if (part === "hat") n = avid.substr(2, 2);
        if (part === "eyes") n = avid.substr(4, 2);
        if (part === "mouth") n = avid.substr(6, 2);
        if (part === "body") n = avid.substr(8, 2);
      }

      return images(`./${part}${n}.svg`);
    },
    getTeam() {
      return this.playerData[this.playerID]
        ? this.tColor(this.playerData[this.playerID].team)
        : false;
    },
    tColor(c) {
      switch (c) {
        case "red":
          return "R";
        case "blue":
          return "B";
        case "green":
          return "G";
        case "yellow":
          return "Y";
        default:
          return c;
      }
    }
  }
};
</script>

<style lang="scss" scoped>
@keyframes breathe {
  from {
    transform: scaleY(1);
  }
  to {
    transform: scaleY(1.1);
  }
}

@keyframes headbob {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(-5%);
  }
}

@keyframes rock {
  from {
    transform: skewX(1deg) translateX(0);
  }
  to {
    transform: skewX(-2deg) translateX(4%);
  }
}

@keyframes blink {
  0%,
  69%,
  72%,
  100% {
    transform: scaleY(1);
  }
  71% {
    transform: scaleY(0.1);
  }
}

@keyframes wag {
  from {
    transform: rotate(5deg);
  }
  to {
    transform: rotate(-10deg);
  }
}

.avatar {
  overflow: hidden;
}

.face,
img {
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.face,
.eyes,
.mouth {
  z-index: 2;
}

.face {
  animation: headbob 1s infinite alternate;
}

.eyes {
  animation: blink 2s infinite;

  // Fixed eye types
  &[data-id="05"] {
    animation: none;
  }
}

.body {
  animation: breathe 1s infinite alternate;
  transform-origin: center bottom;
  z-index: 1;
}

.tail {
  animation: wag 3s infinite alternate;
  transform-origin: 20% bottom;
}

// Tint factions, hats, and reptile head/tails
.body,
.hat,
.eyes[data-id="06"],
.head[data-avatar^="01"],
.head[data-avatar^="02"],
.head[data-avatar^="07"],
.head[data-avatar^="08"],
.head[data-avatar^="09"],
.tail[data-avatar^="01"],
.tail[data-avatar^="05"],
.tail[data-avatar^="08"],
.tail[data-avatar^="09"],
.tail[data-avatar^="10"],
.tail[data-avatar^="11"],
.tail[data-avatar^="15"] {
  &[data-faction="R"] {
    filter: hue-rotate(230deg);
  }
  &[data-faction="B"] {
    filter: hue-rotate(90deg);
  }
  &[data-faction="Y"] {
    filter: hue-rotate(-58deg);
  }
}

// Cham shift
.head[data-avatar^="08"] + .mouth {
  transform: translateY(5%);
}

// Unshift cheese
.hat[data-id="05"] {
  filter: none;
}

// Snake movement
.face[data-avatar^="09"] {
  animation-name: rock !important;
}

// Owl wings
.tail[data-avatar^="12"] {
  animation-name: breathe;
}

// No mouths for birds, skunk, or body for snake
.head[data-avatar^="03"] + .mouth,
.head[data-avatar^="06"] + .mouth,
.head[data-avatar^="07"] + .mouth,
.head[data-avatar^="12"] + .mouth,
.head[data-avatar^="15"] + .mouth,
.head[data-avatar^="07"] ~ .eyes,
.head[data-avatar^="19"] ~ .eyes,
.body[data-avatar^="09"] {
  display: none;
}
</style>
