<template>
  <div class="faction-bar" :data-faction="faction">
    <div class="bars" :style="barVars">
      <template v-if="faction !== 'chip'">
        <div class="bar" :class="faction0"></div>
        <div class="bar" :class="faction1"></div>
        <div class="bar" :class="faction2"></div>
        <div class="bar" :class="faction3"></div>
      </template>

      <div class="bar sugar" :class="faction">
        <template v-if="sugarAdjusted.overflow">
          <div
            class="sugar-block"
            v-for="hundo in sugarAdjusted.overflow"
            :key="hundo"
          ></div>
        </template>
      </div>
    </div>

    <img v-if="faction === 'red'" src="../assets/redpog.png" alt="" class="" />
    <img
      v-if="faction === 'blue'"
      src="../assets/bluepog.png"
      alt=""
      class=""
    />
    <img
      v-if="faction === 'green'"
      src="../assets/greenpog.png"
      alt=""
      class=""
    />
    <img
      v-if="faction === 'yellow'"
      src="../assets/yellowpog.png"
      alt=""
      class=""
    />
    <img
      v-if="faction === 'chip'"
      src="../assets/chippog.png"
      alt=""
      class=""
    />
  </div>
</template>

<script>
export default {
  props: ["faction", "sugar", "f0", "f1", "f2", "f3"],
  data() {
    return {
      colors: ["red", "blue", "green", "yellow"],
      faction0: "chip"
    };
  },
  computed: {
    sugarAdjusted() {
      return {
        bar: this.sugar - Math.floor(this.sugar / 100) * 100,
        overflow: Math.floor(this.sugar / 100)
      };
    },
    barVars() {
      return `--f0: ${this.f0 || 0}%; --f1: ${this.f1 || 0}%; --f2: ${this.f2 ||
        0}%; --f3: ${this.f3 || 0}%; --sugar: ${this.sugarAdjusted.bar || 0}%;`;
    },
    faction1() {
      return this.colors.filter(c => c !== this.faction)[0];
    },
    faction2() {
      return this.colors.filter(c => c !== this.faction)[1];
    },
    faction3() {
      return this.colors.filter(c => c !== this.faction)[2];
    }
  }
};
</script>

<style lang="scss" scoped>
$red: #ff4136;
$blue: #3498db;
$yellow: #ffdc00;
$green: #27af61;
$purple: #444;

.faction-bar {
  margin-right: 8px;
  position: relative;
}

.bars {
  border: 1px solid black;
  display: flex;
  height: 32px;
  position: relative;
  top: 14px;
  width: 48px;

  [data-faction="chip"] & {
    width: 24px;

    + img {
      width: 20px;
    }
  }

  .bar {
    background: rgba(0, 0, 0, 0.5);
    flex-grow: 1;
    position: relative;
    //transform: rotateZ(180deg);

    &.red {
      &:before,
      .sugar-block {
        background: $red;
      }
    }
    &.blue {
      &:before,
      .sugar-block {
        background: $blue;
      }
    }
    &.green {
      &:before,
      .sugar-block {
        background: $green;
      }
    }
    &.yellow {
      &:before,
      .sugar-block {
        background: $yellow;
      }
    }
    &.chip {
      &:before,
      .sugar-block {
        background: $purple;
      }
    }

    &:nth-child(even) {
      background: rgba(0, 0, 0, 0.25);
    }

    &:before {
      background: red;
      content: "";
      display: block;
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      z-index: 1;
    }

    &:nth-child(1):before {
      height: var(--f0);
    }
    &:nth-child(2):before {
      height: var(--f1);
    }
    &:nth-child(3):before {
      height: var(--f2);
    }
    &:nth-child(4):before {
      height: var(--f3);
    }
    &:nth-child(5):before,
    &:nth-child(1).sugar.chip:before {
      height: var(--sugar);
    }

    &.sugar {
      align-items: center;
      display: flex;
      flex-direction: column-reverse;
      overflow: hidden;
      padding-bottom: 1px;
    }

    .sugar-block {
      border: 1px solid rgba(0, 0, 0, 0.5);
      filter: brightness(0.9);
      height: 5px;
      margin-top: 1px;
      width: 90%;
      z-index: 2;
    }
  }
}

img {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 24px;
  z-index: 3;
}
</style>
