<template>
  <div class="menu">
    <div class="button-bar" :data-selected="currentButton">
      <button data-id="history" @click="changeBtn('history')">
        📒 Last 100
      </button>
      <button data-id="players" @click="changeBtn('players')">
        👤 Players
      </button>
    </div>

    <ul class="log-list" v-if="wlog.length > 0 && currentButton === 'history'">
      <li class="portrait" v-if="wlogPush[0]">
        <span
          v-if="
            wlogPush[0].uid &&
              playerData[wlogPush[0].uid] &&
              playerData[wlogPush[0].uid].leader
          "
          class="leader-star"
        >
          ⭐
        </span>

        <!-- <template v-if="playerData[wlogPush[0].uid].wins && playerData[wlogPush[0].uid].losses" >
            <span class="class-s">S</span>
            <span class="class-s">A</span>
            <span class="class-s">B</span>
          </template> -->

        <Avatar
          :wlogPush="wlogPush"
          :avatar="avatar"
          :playerData="playerData"
          :playerID="wlogPush[0].uid"
        />
      </li>

      <li
        v-for="log in wlogPush.slice(0, 100)"
        :key="log.fid"
        :data-id="log.id"
        :data-fid="env === 'development' ? log.fid : false"
        class="list-item"
        :class="{
          'sugary invert': log.strike !== false,
          blue: log.wf == 'B' && log.strike !== false,
          green: log.wf == 'G' && log.strike !== false,
          yellow: log.wf == 'Y' && log.strike !== false,
          red: log.wf == 'R' && log.strike !== false,
          'stress-low': log.stress == 'low',
          'stress-med': log.stress == 'med'
        }"
      >
        <h3 v-if="log.region">#{{ log.region }}</h3>
        <span v-if="log.w" :class="tColor(log.wf)">{{ tFac(log.w) }}</span>
        <span v-if="log.w">{{ log.verb }}</span>
        <span v-if="log.l" :class="tColor(log.l)">{{ tFac(log.l) }}</span>
        <span v-if="!log.w">SCAVENGED SUGAR</span>
        <template v-if="log.s && log.s < 100"
          >({{ log.s }})</template
        >
      </li>
    </ul>

    <ul class="players" v-if="currentButton === 'players'">
      <li>
        <p
          :data-leader="player.id && player.leader"
          :data-stress="player.stress"
          :data-active="player.wins > 0 || player.losses > 0"
          v-for="player in redPlayers"
          :key="player.id"
          class="list-item"
        >
          <span class="red">
            <span class="name">{{ player.name ? player.name : "???" }}</span>
            ({{ player.rank }}) | {{ player.wins }}/{{ player.losses }}
          </span>

          <Avatar
            :wlogPush="wlogPush"
            :avatar="player.avatar ? player.avatar : '0000000000'"
            :playerData="playerData"
            :playerID="player.id"
          />
        </p>
      </li>
      <li>
        <p
          :data-leader="player.id && player.leader"
          :data-stress="player.stress"
          :data-active="player.wins > 0 || player.losses > 0"
          v-for="player in greenPlayers"
          :key="player.id"
          class="list-item"
        >
          <span class="green">
            <span class="name">{{ player.name ? player.name : "???" }}</span>
            ({{ player.rank }}) | {{ player.wins }}/{{ player.losses }}
          </span>

          <Avatar
            :wlogPush="wlogPush"
            :avatar="player.avatar ? player.avatar : '0000000000'"
            :playerData="playerData"
            :playerID="player.id"
          />
        </p>
      </li>
      <li>
        <p
          :data-leader="player.id && player.leader"
          :data-stress="player.stress"
          :data-active="player.wins > 0 || player.losses > 0"
          v-for="player in yellowPlayers"
          :key="player.id"
          class="list-item"
        >
          <span class="yellow">
            <span class="name">{{ player.name ? player.name : "???" }}</span>
            ({{ player.rank }}) | {{ player.wins }}/{{ player.losses }}
          </span>

          <Avatar
            :wlogPush="wlogPush"
            :avatar="player.avatar ? player.avatar : '0000000000'"
            :playerData="playerData"
            :playerID="player.id"
          />
        </p>
      </li>
      <li>
        <p
          :data-leader="player.id && player.leader"
          :data-stress="player.stress"
          :data-active="player.wins > 0 || player.losses > 0"
          v-for="player in bluePlayers"
          :key="player.id"
          class="list-item"
        >
          <span class="blue">
            <span class="name">{{ player.name ? player.name : "???" }}</span>
            ({{ player.rank }}) | {{ player.wins }}/{{ player.losses }}
          </span>

          <Avatar
            :wlogPush="wlogPush"
            :avatar="player.avatar ? player.avatar : '0000000000'"
            :playerData="playerData"
            :playerID="player.id"
          />
        </p>
      </li>
    </ul>

    <div class="replay-bar" v-if="wlogPush && wlog">
      <template v-if="lastMatch">
        <button @click="pauseReplay(true)">⏸️</button>
        <button
          @click="
            pauseReplay(false);
            loopLogs();
          "
        >
          ►
        </button>
        <button
          :disabled="!pauseReplay"
          @click="
            pauseReplay(false);
            loopLogs();
            pauseReplay(true);
          "
        >
          ⏯
        </button>
        <button
          v-if="animDelay !== 0 || (wlog && wlog.length === wlogPush)"
          @click="noAnim()"
        >
          ⏩
        </button>
      </template>
      <template v-else>
        <button @click="fromTheTop()">🔁</button>
      </template>
    </div>
  </div>
</template>

<script>
import Avatar from "./Avatar.vue";

export default {
  name: "LogSidebar",
  components: {
    Avatar
  },
  props: [
    "wlog",
    "wlogPush",
    "tColor",
    "tFac",
    "animDelay",
    "playerData",
    "env",
    "loopLogs",
    "noAnim",
    "lastMatch"
  ],
  data() {
    return {
      currentButton: "history",
      hitLimit: true
    };
  },
  methods: {
    changeBtn(id) {
      this.currentButton = id;
    },
    pauseReplay(x) {
      this.$emit("pauseReplay", x);
    },
    fromTheTop() {
      this.$emit("restartReplay");
    }
  },
  computed: {
    redPlayers() {
      if (!this.playerData) return [];
      return Object.values(this.playerData)
        .filter(p => p.team === "red")
        .sort((a, b) => b.rank - a.rank);
    },
    bluePlayers() {
      if (!this.playerData) return [];
      return Object.values(this.playerData)
        .filter(p => p.team === "blue")
        .sort((a, b) => b.rank - a.rank);
    },
    greenPlayers() {
      if (!this.playerData) return [];
      return Object.values(this.playerData)
        .filter(p => p.team === "green")
        .sort((a, b) => b.rank - a.rank);
    },
    yellowPlayers() {
      if (!this.playerData) return [];
      return Object.values(this.playerData)
        .filter(p => p.team === "yellow")
        .sort((a, b) => b.rank - a.rank);
    },
    avatar() {
      const player = this.playerData[this.wlogPush[0].uid];
      return player && player.avatar ? player.avatar : "0000000000";
    }
  }
};
</script>

<style scoped lang="scss">
.menu {
  background: url("../assets/board.png") no-repeat;
  color: white;
  font-size: 12px;
  font-weight: 600;
  height: 659px;
  line-height: 150%;
  margin: 0;
  max-height: 95vh;
  padding: 0 18px;
  position: fixed;
  top: 10px;
  left: 0;
  text-align: left;
  text-transform: uppercase;
  width: 300px;

  &.ry {
    left: -180px;
  }
  &.bg {
    right: -180px;
  }

  .button-bar,
  .replay-bar {
    display: flex;
    padding: 0 20px;
    position: absolute;
    top: 25px;
    left: 0;
    width: 100%;

    button {
      background: none;
      border: 0 none;
      color: #e9cd98;
      cursor: pointer;
      flex-grow: 1;
      font-weight: bold;
      font-size: 16px;
      height: 50px;
    }

    &[data-selected="history"] [data-id="players"],
    &[data-selected="players"] [data-id="history"] {
      background: rgba(0, 0, 0, 0.5);
    }
  }

  .portrait {
    background: rgba(0, 0, 0, 0.3);
    height: 247px;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 100%;

    .avatar {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
    }

    & + li {
      background: rgba(0, 0, 0, 0.6) !important;
      box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.5);
      z-index: 1;
    }
  }

  .replay-bar {
    background: url("../assets/board2.png") no-repeat;
    background-size: 100% 100%;
    height: 60px;
    top: auto;
    bottom: -30px;

    button {
      font-size: 22px;
      height: 100%;
    }
  }

  .log-list,
  .players {
    height: 539px;
    list-style: none;
    max-height: 85%;
    overflow: auto;
    position: relative;
    top: 90px;

    .stress-low:before,
    .stress-med:before {
      content: "💤";
      font-size: 16px;
      position: absolute;
      top: 50%;
      right: 10px;
      transform: translateY(-50%);
    }

    .stress-med:before {
      content: "🤔";
    }

    .sugary {
      font-weight: 900;

      &:before {
        background: url("../assets/sugar.png") no-repeat;
        background-size: 100% 100%;
        content: "";
        height: 24px;
        position: absolute;
        top: 2px;
        right: 10px;
        width: 24px;
      }
    }

    .leader-star {
      opacity: 0.5;
      position: absolute;
      top: 30px;
      left: 10px;
      font-size: 5em;
      z-index: -1;
    }
  }

  .list-item {
    overflow: hidden;
    padding: 5px 10px;
    position: relative;

    &:nth-child(even) {
      background: rgba(0, 0, 0, 0.5);
    }

    &:hover {
      background: rgba(0, 0, 0, 0.5);
    }

    h3 {
      font-size: 1.5em;
      font-weight: bold;
      opacity: 0.25;
      position: absolute;
      top: 5px;
      right: 5px;
      width: auto;
      z-index: -1;
    }

    span:not(:last-child):after {
      content: " ";
    }
  }
}

.players {
  li {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;

    &:nth-child(even) {
      background: none;
    }
  }

  p.list-item {
    line-height: 48px;
    padding: 0 10px;
    position: relative;

    &[data-active="true"] {
      order: 1;
    }

    &[data-leader="true"] {
      order: 0;

      &:after {
        content: "⭐";
        font-size: 2em;
        line-height: 100%;
        position: absolute;
        top: 0;
        right: -5px;
      }
    }

    &:not([data-active="true"]) {
      order: 2;
      opacity: 0.5;
    }

    &[data-stress="low"]:before {
      content: "💤";
      font-size: 3em;
      opacity: 0.5;
      position: absolute;
      z-index: -1;
    }

    &[data-stress="med"]:before {
      content: "🤔";
      font-size: 3em;
      opacity: 0.5;
      position: absolute;
      z-index: -1;
    }

    .avatar {
      height: 32px;
      width: 32px;
      position: absolute;
      top: 6px;
      right: 0;
    }
  }

  .name {
    max-width: 53%;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    vertical-align: middle;
  }
}
</style>
