<template>
  <div class="form">
    <h5>Victor</h5>
    <select name="" id="win" v-model="winner">
      <option value="null">None</option>
      <option value="MastaPlague">
        MastaPlague
      </option>
      <optgroup label="Commonfolk">
        <option
          v-for="player in suckas.red"
          :value="player.id"
          :key="player.id"
          :data-rank="player.rank"
          data-faction="R"
        >
          {{ player.name }}
        </option>
      </optgroup>
      <optgroup label="Longcoats">
        <option
          v-for="player in suckas.blue"
          :value="player.id"
          :key="player.id"
          :data-rank="player.rank"
          data-faction="B"
        >
          {{ player.name }}
        </option>
      </optgroup>
      <optgroup label="KSR">
        <option
          v-for="player in suckas.green"
          :value="player.id"
          :key="player.id"
          :data-rank="player.rank"
          data-faction="G"
        >
          {{ player.name }}
        </option>
      </optgroup>
      <optgroup label="Civilized">
        <option
          v-for="player in suckas.yellow"
          :value="player.id"
          :key="player.id"
          :data-rank="player.rank"
          data-faction="Y"
        >
          {{ player.name }}
        </option>
      </optgroup>
    </select>

    <hr />

    <template v-if="winner !== 'MastaPlague'">
      <h5>Stress Level</h5>
      <label
        ><input type="radio" name="score" v-model="stress" value="3" />
        High</label
      >
      <label
        ><input type="radio" name="score" v-model="stress" value="2" />
        Medium</label
      >
      <label
        ><input type="radio" name="score" v-model="stress" value="1" />
        Low</label
      >
      <hr />

      <h5>Loser</h5>
      <select name="" id="lose" v-model="loser">
        <option value="null">None</option>
        <optgroup label="Commonfolk">
          <option
            v-for="player in suckas.red"
            :value="player.id"
            :key="player.id"
            :data-rank="player.rank"
            data-faction="R"
          >
            {{ player.name }}
          </option>
        </optgroup>
        <optgroup label="Longcoats">
          <option
            v-for="player in suckas.blue"
            :value="player.id"
            :key="player.id"
            :data-rank="player.rank"
            data-faction="B"
          >
            {{ player.name }}
          </option>
        </optgroup>
        <optgroup label="KSR">
          <option
            v-for="player in suckas.green"
            :value="player.id"
            :key="player.id"
            :data-rank="player.rank"
            data-faction="G"
          >
            {{ player.name }}
          </option>
        </optgroup>
        <optgroup label="Civilized">
          <option
            v-for="player in suckas.yellow"
            :value="player.id"
            :key="player.id"
            :data-rank="player.rank"
            data-faction="Y"
          >
            {{ player.name }}
          </option>
        </optgroup>
      </select>
      <hr />
    </template>

    <template v-if="winner === 'MastaPlague'">
      <h5>Region</h5>
      <input type="text" v-model="region" />
      <br />
      <select name="" id="lose" v-model="plague">
        <option value="SET">SET</option>
        <option value="HALF">HALF</option>
      </select>
      <br />
      <input type="text" v-if="plague === 'SET'" v-model="amount" />
      <hr />
    </template>

    <button @click="submitForm">Send End Game</button>
  </div>
</template>

<script>
export default {
  props: ["wlog", "rallies"],
  data() {
    return {
      winner: null,
      loser: null,
      plague: "HALF",
      stress: 3,
      region: 0,
      amount: 0,
      suckas: {
        blue: [
          { name: "hedgehog", id: "190909799787921409", rank: 200 },
          { name: "Masta", id: "98419293514919936", rank: 500 },
          { name: "Gent", id: "104636817952751616", rank: 900 }
        ],
        red: [
          { name: "Jakobi", id: "168111817489514496", rank: 220 },
          { name: "Red Dino", id: "135577247519211520", rank: 700 },
          { name: "Mishi", id: "176111600434937857", rank: 900 }
        ],
        green: [
          { name: "Raben", id: "170582204395683841", rank: 100 },
          { name: "Dan", id: "282273959766917120", rank: 600 },
          { name: "JetEriksen", id: "155604773314232322", rank: 900 }
        ],
        yellow: [
          { name: "Josh", id: "254941357829783552", rank: 200 },
          { name: "Quizzical", id: "294727169467351040", rank: 400 },
          { name: "Joep", id: "238262865729945600", rank: 900 }
        ]
      }
    };
  },
  methods: {
    submitForm() {
      const lu = document.querySelector(`[value="${this.loser}"]`);
      const wu = document.querySelector(`[value="${this.winner}"]`);

      const formData = {
        l: !lu ? null : lu.getAttribute("data-faction"),
        lID: !lu ? null : this.loser,
        lRank: !lu ? null : lu.getAttribute("data-rank"),
        lUser:
          !lu || lu.textContent === "None"
            ? null
            : lu.textContent.replace(/(^\s+|\s+$)/g, ""),
        stress: parseInt(this.stress),
        w: !wu ? null : wu.getAttribute("data-faction"),
        wID: !wu ? null : this.winner,
        wRank: !wu ? null : wu.getAttribute("data-rank"),
        wUser:
          !wu || wu.textContent === "None"
            ? null
            : wu.textContent.replace(/(^\s+|\s+$)/g, ""),
        rallies: {
          BRally: this.rallies.BRally,
          GRally: this.rallies.GRally,
          RRally: this.rallies.RRally,
          YRally: this.rallies.YRally
        }
      };

      const plagueData = {
        plague: this.plague,
        region: parseInt(this.region),
        amount: parseInt(this.amount)
      };

      this.$emit(
        "subForm",
        this.winner === "MastaPlague" ? plagueData : formData
      );
    }
  }
};
</script>

<style lang="scss" scoped>
.form {
  background: #333;
  color: white;
  padding: 10px;
  position: fixed;
  top: 10px;
  right: 10px;
}
</style>
