<template>
  <g :class="animate" :data-selected="selected" :data-danger="danger">
    <path
      :d="territory.svg"
      :data-faction="territory.faction"
      @mouseover="hover(territory)"
      @mouseleave="clearhover()"
      @click="click(territory)"
      :data-def="territory.defense"
      :data-id="territory['.key']"
      :data-hover="isHover"
    />

    <g class="defdots" v-if="svgDOM">
      <template v-if="svgDOM.getBBox && territory.defense < 4">
        <image
          class="star"
          v-if="territory.defense > 1"
          :x="svgDOM.getBBox().x + svgDOM.getBBox().width / 2 - 64"
          :y="svgDOM.getBBox().y + svgDOM.getBBox().height / 2"
          width="64"
          height="64"
          xlink:href="../assets/star.svg"
        />

        <image
          class="middle star"
          v-if="
            svgDOM.getBBox &&
              (territory.defense === 3 || territory.defense === 1)
          "
          :x="svgDOM.getBBox().x + svgDOM.getBBox().width / 2"
          :y="svgDOM.getBBox().y + svgDOM.getBBox().height / 2"
          width="64"
          height="64"
          xlink:href="../assets/star.svg"
        />

        <image
          class="star"
          v-if="svgDOM.getBBox && territory.defense > 1"
          :x="svgDOM.getBBox().x + svgDOM.getBBox().width / 2 + 64"
          :y="svgDOM.getBBox().y + svgDOM.getBBox().height / 2"
          width="64"
          height="64"
          xlink:href="../assets/star.svg"
        />
      </template>

      <template v-else-if="svgDOM.getBBox && territory.defense > 3">
        <image
          class="star"
          :x="svgDOM.getBBox().x + svgDOM.getBBox().width / 2 - 16"
          :y="svgDOM.getBBox().y + svgDOM.getBBox().height / 2 - 16"
          width="72"
          height="72"
          xlink:href="../assets/star.svg"
        />
        <text
          :x="svgDOM.getBBox().x + svgDOM.getBBox().width / 2 + 52"
          :y="svgDOM.getBBox().y + svgDOM.getBBox().height / 2 + 40"
          font-size="48"
          font-weight="bold"
          fill="white"
        >
          {{ territory.defense }}
        </text>
      </template>
    </g>

    <template v-if="svgDOM">
      <text
        v-if="svgDOM.getBBox && territory && showNumbers"
        :x="svgDOM.getBBox().x + svgDOM.getBBox().width / 2 - 16"
        :y="svgDOM.getBBox().y + svgDOM.getBBox().height / 2 + 10"
        font-size="32"
        font-weight="bold"
        fill="white"
      >
        {{ territory[".key"] }}
      </text>

      <image
        v-if="svgDOM.getBBox && rallyPoints && checkRally(territory)"
        class="pog"
        :x="svgDOM.getBBox().x + svgDOM.getBBox().width / 2 - 16"
        :y="svgDOM.getBBox().y + svgDOM.getBBox().height / 2 - 16"
        width="128"
        height="128"
        :xlink:href="require(`@/assets/${checkRally(territory)}pog.png`)"
        @click="toggleNumbers"
      />

      <image
        v-if="svgDOM.getBBox && !lastMatch && liveWorld && liveRally(territory)"
        class="live pog"
        :x="svgDOM.getBBox().x + svgDOM.getBBox().width / 2 - 16"
        :y="svgDOM.getBBox().y + svgDOM.getBBox().height / 2 - 16"
        width="128"
        height="128"
        :xlink:href="require(`@/assets/${liveRally(territory)}pog.png`)"
      />

      <!-- <image v-if="territory['.key'] === 17" class="lake"
                :x="svgDOM.getBBox().x + (svgDOM.getBBox().width / 2)"
                :y="svgDOM.getBBox().y - 55"
                width="90" height="90"
                :xlink:href="require(`@/assets/archiswim.png`)" /> -->
    </template>
  </g>
</template>

<script>
export default {
  props: [
    "territory",
    "hoverdata",
    "selected",
    "danger",
    "rallyPoints",
    "liveWorld",
    "lastMatch",
    "showNumbers"
  ],
  methods: {
    hover(t) {
      this.$emit("reghover", t);
    },
    click(t) {
      this.$emit("regclick", t);
    },
    clearhover() {
      this.$emit("clearhover");
    },
    toggleNumbers() {
      this.$emit("togglenum");
    },
    checkRally(t) {
      let rally = null;

      // Loop through every faction initial
      ["red", "green", "blue", "yellow"].forEach(f => {
        const faction = f.substr(0, 1).toUpperCase();
        const rallyPoint = this.rallyPoints[faction];

        if (rallyPoint > -1 && rallyPoint == t[".key"] && rallyPoint !== false)
          rally = f;
      });

      return rally;
    },
    liveRally(t) {
      let faction = null;

      ["red", "green", "blue", "yellow"].forEach(f => {
        const fi = f.substr(0, 1).toUpperCase();
        if (this.liveWorld[`${fi}Rally`] === t[".key"]) faction = f;
      });

      return faction;
    }
  },
  mounted() {
    const path = document.querySelector(
      `[data-id="${this.territory[".key"]}"]`
    );
    this.svgDOM = path;
  },
  computed: {
    isHover() {
      return this.hoverdata.includes(parseInt(this.territory[".key"], 10));
    }
  },
  watch: {
    // eslint-disable-next-line
    territory: {
      handler() {
        this.animate = "new";
        window.setTimeout(() => {
          this.animate = null;
        }, 3000);
      },
      deep: true
    }
  },
  data() {
    return {
      animate: null,
      svgDOM: null
    };
  }
};
</script>

<style scoped lang="scss">
$red: #ff4136;
$blue: #3498db;
$yellow: #ffdc00;
$green: #27af61;
$purple: #444;

@keyframes shake {
  0%,
  20%,
  40%,
  60%,
  80%,
  100% {
    transform: translateX(3px);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-3px);
  }
}

@keyframes pulse {
  to {
    fill: white;
  }
}

@keyframes pulse-border {
  from {
    stroke-width: 0;
  }
  to {
    stroke-width: 5;
  }
}

@keyframes pulse-opacity {
  from {
    opacity: 0.7;
  }
  to {
    opacity: 0.2;
  }
}

@keyframes float {
  from {
    transform: translateX(15px);
  }
  to {
    transform: translateX(10px);
  }
}

.star {
  opacity: 0.25;
  pointer-events: none;
}

text {
  opacity: 0.5;
  pointer-events: none;
}

.new {
  animation: shake 3s;
}

.live {
  animation: pulse-opacity 1s infinite alternate;
}

.lake {
  animation: float 3s infinite alternate;
}

[data-selected="true"] path {
  animation: pulse 1s infinite alternate;
}
[data-danger="true"] path {
  animation: pulse-border 1s infinite alternate;
  stroke: #fff !important;
}

.pog {
  pointer-events: none;
  transition: transform 0.3s;
}

path {
  cursor: pointer;
  fill-rule: nonzero;
  stroke: #222;
  stroke-width: 8px;
  position: relative;
  transition: fill 2s, stroke 2s, stroke-width 2s;

  &[data-faction="red"] {
    fill: $red;
  }
  &[data-faction="blue"] {
    fill: $blue;
  }
  &[data-faction="green"] {
    fill: $green;
  }
  &[data-faction="yellow"] {
    fill: $yellow;
  }
  &[data-faction="famine"] {
    fill: rgb(85, 65, 38);
  }
  &[data-faction="chip"] {
    fill: $purple;
  }

  &[data-def="0"] {
    fill: #ccc;
  }

  &[data-def="1"] {
    &[data-faction="red"] {
      stroke: lighten($red, 15%);
    }
    &[data-faction="blue"] {
      stroke: lighten($blue, 15%);
    }
    &[data-faction="green"] {
      stroke: lighten($green, 15%);
    }
    &[data-faction="yellow"] {
      stroke: lighten($yellow, 15%);
    }
    &[data-faction="chip"] {
      stroke: lighten($purple, 15%);
    }
  }

  &[data-def="2"] {
    stroke-width: 10px;
    &[data-faction="red"] {
      fill: darken($red, 5%);
      stroke: darken($red, 15%);
    }
    &[data-faction="blue"] {
      fill: darken($blue, 5%);
      stroke: darken($blue, 15%);
    }
    &[data-faction="green"] {
      fill: darken($green, 5%);
      stroke: darken($green, 15%);
    }
    &[data-faction="yellow"] {
      fill: darken($yellow, 5%);
      stroke: darken($yellow, 15%);
    }
    &[data-faction="chip"] {
      fill: darken($purple, 5%);
      stroke: darken($purple, 15%);
    }
  }

  &[data-def="3"] {
    stroke-width: 12px;

    &[data-faction="red"] {
      fill: darken($red, 10%);
      stroke: darken($red, 20%);
    }
    &[data-faction="blue"] {
      fill: darken($blue, 10%);
      stroke: darken($blue, 20%);
    }
    &[data-faction="green"] {
      fill: darken($green, 10%);
      stroke: darken($green, 20%);
    }
    &[data-faction="yellow"] {
      fill: darken($yellow, 10%);
      stroke: darken($yellow, 20%);
    }
    &[data-faction="chip"] {
      fill: darken($purple, 10%);
      stroke: darken($purple, 20%);
    }
  }

  &:hover:not([data-id="32"]):not([data-id="33"]):not([data-id="34"]) {
    fill: white !important;
    transition-duration: 0.4s;
    z-index: 1;

    & ~ .pog {
      transform: translateY(-32px) !important;
    }
  }

  &[data-id="32"],
  &[data-id="33"],
  &[data-id="34"] {
    cursor: not-allowed;
  }

  &[data-hover] {
    fill: black !important;
    transition-duration: 0.4s;
  }

  // Dot adjusts
  &[data-id="1"] + .defdots,
  &[data-id="1"] ~ .pog {
    transform: translate(-1%, -3%);
  }

  &[data-id="4"] + .defdots,
  &[data-id="4"] ~ .pog {
    transform: translateY(2%);
  }

  &[data-id="6"] + .defdots,
  &[data-id="6"] ~ .pog {
    transform: translateY(-1.5%);
  }

  &[data-id="7"] + .defdots,
  &[data-id="7"] ~ .pog {
    transform: translateY(-1%);
  }

  &[data-id="8"] + .defdots,
  &[data-id="8"] ~ .pog {
    transform: translate(-0.5%, -1%);
  }

  &[data-id="11"] + .defdots,
  &[data-id="11"] ~ .pog {
    transform: translate(-1%, -1%);
  }

  &[data-id="12"] + .defdots,
  &[data-id="12"] ~ .pog {
    transform: translate(-1%, -2%);
  }

  &[data-id="13"] + .defdots,
  &[data-id="13"] ~ .pog {
    transform: translateY(2%);
  }

  &[data-id="15"] + .defdots,
  &[data-id="15"] ~ .pog {
    transform: translate(-0.5%, -1%);
  }

  &[data-id="16"] + .defdots,
  &[data-id="16"] ~ .pog {
    transform: translateX(-2%);
  }

  &[data-id="17"] + .defdots,
  &[data-id="17"] ~ .pog {
    transform: translate(-1%, -6.5%);
  }

  &[data-id="19"] + .defdots,
  &[data-id="19"] ~ .pog {
    transform-origin: 61% 32%;
    transform: rotate(45deg);
  }

  &[data-id="20"] + .defdots,
  &[data-id="20"] ~ .pog {
    transform: translate(-1%, -1%);
  }

  &[data-id="24"] + .defdots,
  &[data-id="24"] ~ .pog {
    transform: translate(1%, -1%);
  }

  &[data-id="27"] + .defdots,
  &[data-id="27"] ~ .pog {
    transform: translate(-0.5%, -3%);
  }

  &[data-id="28"] + .defdots,
  &[data-id="28"] ~ .pog {
    transform: translateY(3%);
  }

  &[data-id="29"] + .defdots,
  &[data-id="29"] ~ .pog {
    transform-origin: 55% 32%;
    transform: rotate(90deg);
  }

  &[data-id="30"] + .defdots,
  &[data-id="30"] ~ .pog {
    transform-origin: center center;
    transform: rotate(10deg) translate(3%, 2%);
  }

  &[data-id="31"] + .defdots,
  &[data-id="31"] ~ .pog {
    transform: translate(-1%, -1%);
  }

  &[data-id="32"] + .defdots,
  &[data-id="32"] ~ .pog {
    transform: translateY(-30%);
  }

  &[data-id="33"] + .defdots,
  &[data-id="33"] ~ .pog {
    transform: translateX(3%);
  }
}
</style>
