<template>
  <div
    class="item"
    :key="`head${loopKey}`"
    :data-preview="hasItem.preview"
    :data-has="hasItem.has"
    :data-current="hasItem.current"
    :data-price="getPrice(part, loopKey)"
    @click="$emit('previewItem')"
  >
    <img :src="getImg(part, loopKey)" :class="part" :data-id="loopKey" />
    <button
      :disabled="
        !hasItem.has && (!currentWIP || currentWIP < getPrice(part, loopKey))
      "
      @click="
        $emit('setItem', hasItem.has, part, loopKey, getPrice(part, loopKey))
      "
    >
      {{ hasItem.has ? "Use" : "Buy" }}
    </button>
  </div>
</template>

<script>
export default {
  props: ["part", "hasItem", "loopKey", "currentWIP"],
  methods: {
    getImg(part, key) {
      // Load all SVG
      const images = require.context("../assets/player/", false, /\.svg$/);
      let n = key.toString().length === 1 ? `0${key}` : key;
      return images(`./${part}${n}.svg`);
    },
    getPrice(part, key) {
      switch (part) {
        case "head":
          if (key < 5) return 15;
          if (key < 10) return 25;
          if (key < 15) return 50;
          if (key >= 15) return 100;
          break;
        case "body":
          return 20;
        case "hat":
          if (key > 4) return 40;
          return 20;
        case "eyes":
          if (key > 4) return 20;
          return 10;
        case "mouth":
          return 10;
      }
    }
  }
};
</script>

<style lang="scss" scoped>
// Grey out the ones we don't have
.item:not([data-has="true"]) {
  filter: grayscale(1);

  &:after {
    align-items: center;
    color: white;
    content: url("../assets/wip.png") attr(data-price);
    display: flex;
    font-size: 18px;
    font-weight: bold;
    text-indent: 5px;
  }
}

.item[data-has="true"]:not([data-preview="true"]) {
  filter: grayscale(0.25);
}

// Show button for selected items that are either unused or unbought
.item[data-preview="true"] {
  filter: grayscale(0);

  &:before {
    content: "👁";
    position: absolute;
    left: 0;
    top: 7px;
    text-align: center;
    width: 100%;
  }

  &:not([data-current="true"]) {
    button {
      opacity: 1;
      pointer-events: auto;
    }

    &:not([data-has="true"]) button {
      background: rgb(122, 202, 48);
    }
  }
}

button {
  background: rgb(35, 156, 193);
  border: 0 none;
  border-radius: 8px;
  color: white;
  font-weight: bold;
  opacity: 0;
  padding: 5px 20px;
  pointer-events: none;
  position: absolute;
  top: -25px;
  left: 50%;
  transform: translateX(-50%);
  text-transform: uppercase;
  z-index: 1;

  &[disabled] {
    background: #999 !important;
    color: #ccc;
  }

  &:active {
    transform: translateX(-50%) scale(0.9);
  }
}
</style>
