<template>
  <div id="app">
    <router-view />
  </div>
</template>

<script>
/*eslint-disable */
window.requestAnimFrame = (function() {
  return (
    window.requestAnimationFrame ||
    function(/* function */ callback, /* DOMElement */ element) {
      window.requestTimeout(callback, 1000 / 60);
    }
  );
})();

window.requestTimeout = function(fn, delay) {
  if (
    !window.requestAnimationFrame &&
    !window.webkitRequestAnimationFrame &&
    !window.mozRequestAnimationFrame &&
    !window.msRequestAnimationFrame
  ) {
    return window.requestTimeout(fn, delay);
  }

  let start = new Date().getTime(),
    handle = new Object();

  function loop() {
    let current = new Date().getTime(),
      delta = current - start;

    delta >= delay ? fn.call() : (handle.value = requestAnimFrame(loop));
  }

  handle.value = requestAnimFrame(loop);
  return handle;
};
/* eslint-enable */
</script>

<style lang="scss">
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400, 600");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

#app {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  height: 100vh;
  overflow: hidden;
  width: 100vw;
}

body {
  align-items: center;
  background-color: #424852;
  background-position: right bottom;
  background-image: url("./assets/bg.png");
  background-size: cover;
  display: flex;
  font-family: Open Sans, Helvetica, Arial;
  justify-content: center;
}

.regionDiv {
  align-items: center;
  border: 1px solid red;
  color: white;
  display: flex;
  justify-content: center;
  position: absolute;
}

@media screen and (max-width: 720px) {
  body {
    align-items: flex-start;
  }
  #app {
    margin-top: 0;
  }
}
</style>
